/*
Name: Huzzein Adebiyi
Class: Web development
Project: Website for a hair business
*/
body,header,nav,main,footer,h1,div,img,ul{
  margin:0;
  padding: 0;
  border:0;
}

body{
  background-color: #000;
}
/*Styles rule for Header in all viewport*/
header{
  position:-webkit-sticky;
  position:sticky;
  background-color: #000;
  height: 170px;
}

img{
  max-width: 100%;
  margin: 0 0px;
}
/*This is to make sure the logo appear in the middle for a mobile viewport's header*/
header img{
  /*Aligns to the middle of the screen, tested on my mobile device*/
  margin-left: 105px;
  width: auto;
  height:170px;
  /*Time  taken to adjust position when changing from mobile to larger screen*/
  transition-duration: 3s;

}


nav{
  padding: auto;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav li{
  font-size: 1.7em;
  font-style: bold;
  border-top: 1px solid #fff;
}

nav li:first-child{
  border-top: none;
}
/*Removing the Last child border*/
nav li:last-child{
  border-right: none;
}

nav li a{
  display: block;
  color: #fff;
  padding: 0.6em 0.2em;
  text-decoration: none;
}
nav li:first-child{
  border-top: none;
}
/*Styling the main area to user's preference*/
main{
  margin-top: 3.2em;
  margin-bottom: 3.8em
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  background-color: #fff;
  padding: 0.2em;
}
.desktop{
  text-align: center;
  display: block;
  padding: 0.5em 2em
}


/*Removing Hair video display from mobile viewport*/
#Hair-Videos{
  display: inline-block;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   text-align: center;
}

#HP{
  text-align: center;
  margin:0 auto;
}

#Reviews{
  text-align: center;
  padding:0 1.5em;
  margin:none;
}

#contact{
  text-align: center;
  margin: auto;
}
h2{
  text-align: center;
  margin-left: auto;
}
/*Social icon linking to user's social media page in the contact page*/
.social-icon{
  border-radius: circle;
  text-decoration: none;
  margin-left: 1.5px;
  color:#FF19B3;
}

.social-icons{
  border-radius: circle;
  text-decoration: none;
  margin-left: 1.5px;
  color:#00CC00;
}
/*Hover effects on social media icons */
.social-icon:hover{
  color: #990066;
  transition-duration: 0.2s;
}

.social-icons:hover{
  color: #0D4D00;
  transition-duration: 0.2s;
}
.map{
  border: 2% solid #000;
  width: 95%;
  height: 50%;
}
/*The phone_number does not need to appear on a mobile viewport only the link needs to*/
.tel-num{
  display: none;
}

.tel-link{
  display: block;
}

footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: auto;
}

footer p a{
  color: #fff;
  text-decoration: none;
}
/*Media query for Tablet screen viewport*/
@media screen and (min-width: 769px){
header{
  float:left;
}
  header img{
    margin-left: 0;
    transition-duration: 4s;
  }

  nav{
    float:right;
    margin-top: 3.0em;
  }

  nav li{
    border-top: none;
    border-bottom: none;
    display: inline-block;
    margin-right: 0.8em
  }

  nav li:last-child{
    border-left: none;
  }

  nav ul{
    float: right;
    margin-right: 2.8em;
  }


  main{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    background-color: #fff;
    padding-right: 38px;
    clear: left;
  }

  header{
  background-color: #000;
  padding-bottom: 0.4px;
 }

 header img{
   height: 170px;
   width: auto;
 }

 img{
   max-width: 100%
 }
 #Hair-Videos{
   display:block;
   width: 100%;
   margin: 0 1.5em;
 }

 #Reviews{
   height: auto;
   width: auto;
 }
/*Phone number link display should not appear on a Tablet viewport*/
  .tablet{
    display: none;
    margin-left: auto
  }

/*Modifying the display of the text in the desktop viewport*/
  .desktop{
    margin-top: 2em;
    margin-bottom: auto;
    display:block;
    text-align: center;

  }

  .desktop p{
    font-style: normal;
    font-weight: lighter;
    margin: none;
    font-size: 0.98em;
  }

  .desktop h4{
    font-family: sans-serif;
    font-style: oblique;
    font-weight: 100;
  }
/*This is not needed at the moment */
/*  .desktop img{
    text-align: left;
    height: 80px;
    width:auto;
  }
  */
/*Embeded map of product's location*/
  .map{
    border: 4px solid #000;
    margin: auto;
    width: 75%;
    height: 50%;
  }
  .tel-num{
    display: block;
  }
  /*Visible number should appear on desktop viewport instead of a phone link*/
  .tel-link{
    display: none;
  }

}
/*Media query for Large desktop viewport*/
@media screen and (min-width: 1720px){
  header{
    max-width: 100%;
    padding: none;
  }
  nav{
    text-align: right;
    margin: 4em 1em 0 0;
  }

  nav li{
    border-top: none;
    border-right: 1px solid #000;
    display: inline-block;
    padding: 2%;
    color: #ccc;
  }

  nav li:hover{
    color: #a5a9c4;
  }
  #contact{
    margin: 0 5em;
    text-align:center;
  }


  .tablet{
    display: none;
  }
  .desktop{
    text-align: center;
    display: block;
  }
}

@media print{
  body{
    background-color: #a6a4a7;
    color: #fff;
  }
}
